header>* {
	align-items: baseline;

}

.navbar {
	position: sticky;
	top: 0;
	z-index: 100; // Ensure it's above other content

	details {
		position: relative; // Anchor for the dropdown
	}

	summary {
		cursor: pointer;
	}

	ul {
		position: absolute;
		background-color: #fff; // Or any color fitting your design
		width: 100%; // Or adjust as needed
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); // Optional: for dropdown shadow
		z-index: 101; // Ensure it's above the sticky navbar itself
	}

	li {
		list-style-type: none;
	}
}

.sitelogo-parent {
	flex-grow: 1;
}

.sitelogo {
	margin: 0;
	padding: 0.2rem 1rem;
	font-size: 2rem;
	font-weight: bold;
	color: var(--theme-color-contrast);
	background-color: var(--theme-color);
	border-bottom: 2px solid var(--theme-color);
}

.sitelogo a {
	text-decoration: none;
	color: var(--theme-color-contrast);
}

.sitelogo a:hover {
	text-decoration: underline;
}

details>summary {
	padding: 0.2rem 1rem;
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--theme-color-contrast);
	background-color: var(--theme-color);
	border: none;
	cursor: pointer;
	outline: none;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	margin: 5px 0;
}

nav ul li a {
	color: var(--theme-color);
	text-decoration: none;
	padding: 0.2rem 1rem;
	display: block;
}

nav ul li a:hover {
	text-decoration: underline;
}

nav .current a {
	border-color: var(--theme-color);
	font-weight: bold;
}

nav .offline {
	display: none;
}

nav .offline a {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

body.offline nav .offline {
	display: block;
}

header>details>summary {
	align-self: center;
}