header>* {
	align-items: baseline;
}

.sitelogo-parent {
	flex-grow: 1;
}

.sitelogo {
	margin: 0;
	padding: 0.2rem 1rem;
	font-size: 2rem;
	font-weight: bold;
	color: var(--theme-color-contrast);
	background-color: var(--theme-color);
	border-bottom: 2px solid var(--theme-color);

	a {
		text-decoration: none;
		color: var(--theme-color-contrast);
	}

	a:hover {
		text-decoration: underline;
	}
}

nav {

	ul {
		list-style: none;
		text-decoration: none;
	}

	li {
		flex-grow: 1;
		text-decoration: none;

	}

	a {
		color: var(--theme-color);
		text-decoration: none;
	}


	a:hover {
		text-decoration: underline;
	}

	.current {
		a {
			border-color: var(--theme-color);
			font-weight: bold;
		}

	}

	.offline {
		display: none;

		a {
			color: #8a6d3b;
			background-color: #fcf8e3;
			border-color: #faebcc;
		}

		body.offline & {
			display: block;
		}
	}
}