<details>
	<summary>Navigation</summary>
<nav role="navigation" class="cluster">
    <ul>
        {% for item in collections.navigation %}
            {% set link_title = item.data.nav.title or item.data.title %}
            <li class="{% if item.url == page.url %}current{% else %}{{ link_title | slugify }}{% endif %}">
                <a href="{{ item.data.nav.away or item.url }}">{{ link_title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
</details>