<nav>
{% set navPages = collections.all | eleventyNavigation %}
{% macro renderNavListItem(entry) -%}
<li{% if entry.url == page.url %} class="current"{% endif %}>
  <a href="{{ entry.url }}">{{ entry.title }}</a>
</li>
{%- endmacro %}


<details>
<summary>Menu</summary>
<ul>
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>
</details>
</nav>