<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    {% include "head.njk" %}
  </head>

  <body>
    <div class="page">
      {#
  Use Every Layout's sidebar layout:
  https://absolutely.every-layout.dev/layouts/sidebar/
  #}
      <div class="with-sidebar">
        <div>
          <div class="sidebar">
            <header role="banner" class="cluster">
              <div>
                <div class="sitelogo-parent">
                  {% if page.url == '/' %}
                    <h1 class="sitelogo">Emergency response volunteer playbook</h1>
                  {% else %}
                    <p class="sitelogo">
                      <a href="/">Emergency response volunteer playbook</a>
                    </p>
                  {% endif %}
                <div>
                  {% include "components/navigation.njk" %}
                </div>
                </div>
              </div>
            </header>

          </div>
          <div class="not-sidebar">
            <main role="main">
              {% block content %}
                {{ content | safe }}
              {% endblock %}
            </main>
          </div>
        </div>
      </div>
      {% include "components/footer.njk" %}
    </div>
  </body>

</html>
