$font-family-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Mixin for font styles
@mixin font-style($size, $line-height, $bold: false) {
  font-family: $font-family-primary;
  font-size: $size;
  line-height: $line-height;
  font-weight: if($bold, bold, normal);
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: $font-family-primary;
  font-size: calc(0.9em + 0.3vw);

  @include font-style(16px, 24px);

  @media (min-width: 768px) {
    @include font-style(18px, 28px);
  }

  @media (min-width: 1024px) {
    @include font-style(18px, 28px);
  }

  &.body-xl {
    @include font-style(28px, 32px);

    @media (min-width: 768px) {
      @include font-style(38px, 56px);
    }

    @media (min-width: 1024px) {
      @include font-style(38px, 56px);
    }

    &.bold {
      font-weight: bold;
    }
  }

  &.body-lg {
    @include font-style(18px, 28px);

    @media (min-width: 768px) {
      @include font-style(22px, 32px);
    }

    @media (min-width: 1024px) {
      @include font-style(22px, 32px);
    }

    &.bold {
      font-weight: bold;
    }
  }

  &.small-print {
    @include font-style(14px, 20px);

    @media (min-width: 768px) {
      @include font-style(14px, 20px);
    }

    @media (min-width: 1024px) {
      @include font-style(14px, 20px);
    }
  }

  &.tiny {
    @include font-style(12px, 12px);

    @media (min-width: 768px) {
      @include font-style(12px, 12px);
    }

    @media (min-width: 1024px) {
      @include font-style(12px, 12px);
    }
  }
}