$font-family-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Mixin for font styles
@mixin font-style($size, $line-height, $bold: false) {
  font-family: $font-family-primary;
  font-size: $size;
  line-height: $line-height;
  font-weight: if($bold, bold, normal);
}

/* Body XL */
.body-xl {
  font-size: 28px;
  line-height: 32px;
}

@media (min-width: 768px) { /* Tablet and Desktop */
  .body-xl {
    font-size: 38px;
    line-height: 56px;
  }
}

.body-xl-bold {
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
}

@media (min-width: 768px) { /* Tablet and Desktop */
  .body-xl-bold {
    font-size: 38px;
    line-height: 56px;
    font-weight: bold;
  }
}

/* Body Large */
.body-large {
  font-size: 18px;
  line-height: 28px;
}

@media (min-width: 768px) { /* Tablet and Desktop */
  .body-large {
    font-size: 22px;
    line-height: 32px;
  }
}

.body-large-bold {
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
}

@media (min-width: 768px) { /* Tablet and Desktop */
  .body-large-bold {
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
  }
}

/* Body */
.body {
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: 768px) { /* Tablet and Desktop */
  .body {
    font-size: 18px;
    line-height: 28px;
  }
}

.body-bold {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

@media (min-width: 768px) { /* Tablet and Desktop */
  .body-bold {
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
  }
}

/* SmallPrint */
.smallprint {
  font-size: 14px;
  line-height: 20px;
}

.smallprint-bold {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}

/* Tiny */
.tiny {
  font-size: 12px;
  line-height: 12px;
}

.tiny-bold {
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
}

p {
  @extend .body;
}


article > * + * {
  margin-block-start: var(--gap);
}
