:root {
	--gap: 1.5rem;
	--page-padding: var(--gap);

	--sidebar: 15ch;
	--notsidebar: 75%;

	--maxcontent: 80ch;

	--theme-color: #D0021B	;
	--theme-color-contrast: #FFFFFF;

	--color-meta: #E0E0E0;
}
