// Primary colours
$red-primary: rgb(208, 2, 27); // #D0021B
$green-primary: rgb(64, 162, 42); // #40A23A
$black-primary: rgb(38, 38, 38); // #262626
$teal-primary: rgb(43, 117, 134); // #2B7586

// Secondary colours
$red-secondary: rgb(173, 18, 32); // #AD1220
$green-secondary: rgb(5, 133, 58); // #05853A
$grey-secondary: rgb(92, 116, 122); // #5C7478
$blue-secondary: rgb(25, 51, 81); // #193351

// Tints
$red-tint: rgb(204, 67, 79); // #CC434F
$green-tint: rgb(68, 164, 108); // #44A46C
$grey-tint: rgb(158, 170, 174); // #9CAAAE
$blue-tint: rgb(71, 92, 116); // #475C74
$teal-tint: rgb(106, 158, 170); // #6A9EA6

// Neutral and grey
$white: rgb(255, 255, 255); // #FFFFFF
$grey-10: rgb(246, 246, 246); // #F6F6F6
$grey-20: rgb(224, 224, 224); // #E0E0E0
$grey-30: rgb(187, 187, 187); // #BBBBBB
$grey-40: rgb(113, 113, 113); // #717171

// System and UI colours
$red-system: rgb(208, 2, 27); // #D0021B
$green-system: rgb(64, 162, 42); // #40A22A
$mustard-system: rgb(241, 177, 59); // #F1B13B
$teal-system: rgb(106, 158, 170); // #6A9EAA